.container {
  border: solid 5px yellow;
  border-radius: 1rem;
  width: 50vw;
  margin: 0.75rem auto;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 5px 4px 5px 0px rgba(255, 255, 0, 0.75);
  -webkit-box-shadow: 5px 4px 5px 0px rgba(255, 255, 0, 0.75);
  -moz-box-shadow: 5px 4px 5px 0px rgba(255, 255, 0, 0.75);
  background: rgb(175, 227, 211);
  background: radial-gradient(
    circle,
    rgba(175, 227, 211, 1) 0%,
    rgba(228, 255, 244, 1) 100%
  );
}

.input {
  margin-bottom: 0.5rem;
}

.label {
  font-weight: bolder;
  margin: 0 0.25rem;
  color: BLACK;
}

select {
  margin-right: 1rem;
}

.error {
  color: red;
  font-weight: bolder;
}

.ok {
  color: green;
  font-weight: bolder;
  font-size: large;
}

.countries_container {
  margin-top: 0.5rem;
  width: 25rem;
  display: flex;
  flex-wrap: wrap;
}

.countries {
  margin-right: 0.75rem;
  color: black;
}

.option {
  border-radius: 0.5rem;
  padding: 0.125rem 0.25rem;
  background-color: #e0eba6;
}

.delete_country {
  margin-right: 0.125rem;
  margin-bottom: 0.25rem;
  padding: 0 0.5rem;
  background-color: rgb(174, 212, 96);
  border-radius: 0.75rem;
  font-weight: bold;
  color: red;
}

.buttons_container {
  width: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.button {
  align-self: center;
  font-style: italic;
  padding: 0.5rem;
  font-weight: bolder;
  border-radius: 0.5rem;
  background-color: yellow;
  box-shadow: 5px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 4px 5px 0px rgba(0, 0, 0, 0.75);

  &:hover {
    transform: scale(1.1);
  }

  &:first-child {
    margin-right: 1rem;
  }

  &:last-child {
    color: red;
    font-weight: bolder;
  }
}