.detail_container {
  backdrop-filter: blur(10px);
  display: flex;
  width: 60%;
  margin: 1.25rem auto;
  border-radius: 0.5rem;
  height: 12rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.flag {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  height: 100%;
  margin-right: 0.5rem;
}

.detail_text {
  display: grid;
  place-content: center;
  margin: 0 0.5rem;
  color: white;
}

.asociated_activities {
  color: white;
  backdrop-filter: blur(10px);
  width: fit-content;
  margin: 0 auto;
  border-radius: 20px;
}

.no_activities {
  color: white;
  font-style: italic;
  backdrop-filter: blur(10px);
  width: fit-content;
  animation-duration: 4s;
  animation-name: dance;
  animation-timing-function: ease-in;
  animation-iteration-count: 2;
  position: relative;
}
@keyframes dance {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(25%);
  }
  40% {
    transform: translate(-25%);
  }
  60% {
    transform: translate(25%);
  }
  80% {
    transform: translate(-25%);
  }
  100% {
    transform: translate(0%);
  }
}

p {
  text-align: justify;
  line-height: 2.5;
}

.activities_title {
  font-style: italic;
  backdrop-filter: blur(10px);
  width: 20%;
  margin: 0 auto;
}

.activities_container {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  flex-wrap: wrap;
  margin: 0 0.5rem;
  margin-bottom: 7rem;
}

.activity_card {
  margin-top: 1rem;
  border: solid grey 2px;
  border-radius: 20px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 0.25rem 0;
  background-color: bisque;
}

.cards_text {
  line-height: normal;
  font-style: italic;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}