.container {
  border: solid 2px black;
  width: 15rem;
  height: auto;
  margin: 10px;
  background-image: linear-gradient(to right top, #a1a9b5, #76b5ca, #33c2bd, #4dc888, #9ac43c);
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 0.5rem 0;
  position: relative;
}

.delete{
  height: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  color: red;
  font-weight: bolder;
  margin-right: .125rem;
  font-size: large;
}

.activity_name {
  margin: 0;
  padding: 0 1rem;
  color: blue;
}

.countries_details {
  margin-left: 1rem;
  line-height: 2;
}

h4 {
  margin: 0.5rem 0;
  color: blue;
  padding-top: 0.25rem;
}

.countries_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: .125rem;
  margin-right: .125rem;
}

.countries {
  line-height: normal;
}