.container {
  border: solid 2px black;
  width: 15rem;
  height: auto;
  /* flex: 1; */
  margin: 10px;
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

h3{
  margin: 0;
}

p{
  padding-top: -10px;
  margin: 0 2rem;

  /* line-height: 0; */
}

h4{
  margin: 0;
  color: rgb(4, 13, 121);
  padding-top: .25rem;
}

.countries{
  /* display: inline; */
}

ul{
  margin: 0;
  padding: ;
  width: 30%;
}