.container {
  border: solid 2px black;
  width: 20rem;
  height: auto;
  /* flex: 1; */
  margin: 10px;
  background-color: #eed5d5;
  border-top-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}