.container {
  border: 2px grey solid;
  border-radius: .5rem;
  margin: .5rem;
  width: 15rem;
  background-color: rgb(223, 201, 245);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.flags {
  height: 10rem;
  width: 100%;
  border-top-right-radius: .4rem;
  border-top-left-radius: .4rem;
}

.name{
  margin: 0;
  color: blue;
  font-style: normal;
}

.continent {
  font-style: italic;
}

.population{
  margin: .25rem 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.activities_list{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  padding-left: 1.25rem;
  font-size: small;
}

.activities_list_item{
  margin-left: .5rem;
}