.error_container {
  background-image: url('../../../public/error_404.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.error_text {
  font-size: xx-large;
  color: white;
  margin-top: 1rem;
  backdrop-filter: blur(10px);
  width: fit-content;
  padding: 0.5rem;
  border-radius: 1rem;
}