.landing {
  background-image: url('../../../public/mundo_sicodelico.jpg');
  height: 100vh;
  background-color: rgba(238, 245, 133, 0.603);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
}

.spanContainer {
  backdrop-filter: blur(10px);
  margin-top: 0.125rem;
  width: 40vw;
  height: 15rem;
  border-radius: 2rem;
  border: grey solid 2px;
  box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 0.75);
}
.landing_title {
  background: #f0f4f4;
  background: -webkit-linear-gradient(to right, #f0f4f4, #aaeece);
  background: linear-gradient(to right, #f0f4f4, #aaeece);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-style: italic;
  line-height: 1.5;
  font-size: xx-large;
  padding: 1rem 1rem;
}

.landing_img {
  height: 6rem;
  transition: transform 0.5s ease;

  &:hover {
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg); /* Con esto logro hacer una vuelta completa del mundito */
  }
}