.mainContainer {
display: flex;
justify-content: space-around;
height: 5rem;
align-items: center;
border-radius: 2rem;
}

.mundito{
  height: 3.5rem;
  margin: auto 0;
}

.activities{
  font-size: xx-large;
  font-style: italic;
  font-weight: bolder;
}