.mainContainer {
  display: flex;
  justify-content: space-around;
  height: 5rem;
  align-items: center;
  background-color: dimgrey;
  color: white;
}

.logo {
  display: flex;
  flex-direction: column;
}

.mundito {
  height: 3.5rem;
  margin: auto 0;
  transition: transform 0.5s ease;

  &:hover {
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.juampi {
  font-style: italic;
  color: whitesmoke;
}

.landing_img {
  height: 2.5rem;
  margin-top: 0.5rem;
}

.activities {
  font-size: xx-large;
  font-style: italic;
  font-weight: bolder;
  color: whitesmoke;
}