.container {
  /* background-color: rgb(221, 250, 174); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 7rem;

}

.option{
  width: 15%;
  margin: 1.5rem auto;
  border-radius: 0.5rem;
  padding: .125rem .25rem;
  background-color: #e0eba6;
}